name: Build And Deploy

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
  # schedule:
  #  - cron: '33 4 * * *'
  # push:
  #   branches: [ "master" ]
  #   # Publish semver tags as releases.
  #   tags: [ 'v*.*.*' ]
  # pull_request:
  #   branches: [ "master" ]
  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      version:
        description: 'Version number to build'
        default: '0.1.0'
        required: true

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      # This is used to complete the identity challenge
      # with sigstore/fulcio when running outside of PRs.
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      # Install the cosign tool except on PR
      # https://github.com/sigstore/cosign-installer
      - name: Install cosign
        if: github.event_name != 'pull_request'
        uses: sigstore/cosign-installer@7e0881f8fe90b25e305bbf0309761e9314607e25
        with:
          cosign-release: 'v1.9.0'


      # Workaround: https://github.com/docker/build-push-action/issues/461
      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@79abd3f86f79a9d68a23c75a09a9a85889262adf

      # Login against a Docker registry except on PR
      # https://github.com/docker/login-action
      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@28218f9b04b4f3f62068d7b6ce6ca5b26e35336c
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Extract metadata (tags, labels) for Docker
      # https://github.com/docker/metadata-action
      - name: Extract Docker metadata for sbcl-app
        id: meta-sbcl-app
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-sbcl-app
          
      - name: Extract Docker metadata for sbcl-worker
        id: meta-sbcl-worker
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-sbcl-worker

      - name: Extract Docker metadata for lw-worker
        id: meta-lw-worker
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-lw-worker

      # Build and push Docker image with Buildx (don't push on PR)
      # https://github.com/docker/build-push-action
      # - name: Build and push sbcl-app
      #   id: build-and-push-sbcl-app
      #   uses: docker/build-push-action@ac9327eae2b366085ac7f6a2d02df8aa8ead720a
      #   with:
      #     context: .
      #     target: sbcl-app
      #     push: ${{ github.event_name != 'pull_request' }}
      #     tags: ${{ steps.meta-sbcl-app.outputs.tags }}
      #     labels: ${{ steps.meta-sbcl-app.outputs.labels }}

      # - name: Build and push sbcl-worker
      #   id: build-and-push-sbcl-worker
      #   uses: docker/build-push-action@ac9327eae2b366085ac7f6a2d02df8aa8ead720a
      #   with:
      #     context: .
      #     target: sbcl-worker
      #     push: ${{ github.event_name != 'pull_request' }}
      #     tags: ${{ steps.meta-sbcl-worker.outputs.tags }}
      #     labels: ${{ steps.meta-sbcl-worker.outputs.labels }}

      - name: Prepare LispWorks compiler
        if: ${{ github.event_name != 'pull_request' }}
        run: |
          mkdir -f lw
          echo "${{ secrets.LISPWORKS_LICENSE }}" > lw/license
          curl https://storage.yandexcloud.net/ultralisp-ci/dist-lw80.tar.bz2 | tar jx
        
      - name: Build and push lw-worker
        id: build-and-push-lw-worker
        if: ${{ github.event_name != 'pull_request' }}
        uses: docker/build-push-action@ac9327eae2b366085ac7f6a2d02df8aa8ead720a
        with:
          context: .
          target: lw-worker
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta-lw-worker.outputs.tags }}
          labels: ${{ steps.meta-lw-worker.outputs.labels }}

      # Sign the resulting Docker image digest except on PRs.
      # This will only write to the public Rekor transparency log when the Docker
      # repository is public to avoid leaking data.  If you would like to publish
      # transparency data even for private images, pass --force to cosign below.
      # https://github.com/sigstore/cosign
      # 
      # - name: Sign the published sbcl-app Docker image
      #   if: ${{ github.event_name != 'pull_request' }}
      #   env:
      #     COSIGN_EXPERIMENTAL: "true"
      #   # This step uses the identity token to provision an ephemeral certificate
      #   # against the sigstore community Fulcio instance.
      #   run: echo "${{ steps.meta-sbcl-app.outputs.tags }}" | xargs -I {} cosign sign {}@${{ steps.build-and-push-sbcl-app.outputs.digest }}

      # - name: Sign the published sbcl-worker Docker image
      #   if: ${{ github.event_name != 'pull_request' }}
      #   env:
      #     COSIGN_EXPERIMENTAL: "true"
      #   # This step uses the identity token to provision an ephemeral certificate
      #   # against the sigstore community Fulcio instance.
      #   run: echo "${{ steps.meta-sbcl-worker.outputs.tags }}" | xargs -I {} cosign sign {}@${{ steps.build-and-push-sbcl-worker.outputs.digest }}

      # - name: Sign the published lw-worker Docker image
      #   if: ${{ github.event_name != 'pull_request' }}
      #   env:
      #     COSIGN_EXPERIMENTAL: "true"
      #   # This step uses the identity token to provision an ephemeral certificate
      #   # against the sigstore community Fulcio instance.
      #   run: echo "${{ steps.meta-lw-worker.outputs.tags }}" | xargs -I {} cosign sign {}@${{ steps.build-and-push-lw-worker.outputs.digest }}
 
