{
  "name": "CI",
  "on": {
    "push": {
      "branches": [
        "master"
      ]
    },
    "pull_request": null,
    "schedule": [
      {
        "cron": "0 10 * * 1"
      }
    ]
  },
  "jobs": {
    "linter": {
      "runs-on": "ubuntu-latest",
      "env": {
        "OS": "ubuntu-latest",
        "QUICKLISP_DIST": "quicklisp",
        "LISP": "sbcl-bin/2.1.2"
      },
      "steps": [
        {
          "name": "Install libev",
          "run": "sudo apt-get install libev4",
          "shell": "bash"
        },
        {
          "name": "Checkout Code",
          "uses": "actions/checkout@v2"
        },
        {
          "name": "Grant All Perms to Make Cache Restoring Possible",
          "run": "sudo mkdir -p /usr/local/etc/roswell\n                 sudo chown \"${USER}\" /usr/local/etc/roswell\n                 # Here the ros binary will be restored:\n                 sudo chown \"${USER}\" /usr/local/bin",
          "shell": "bash"
        },
        {
          "name": "Get Current Month",
          "id": "current-month",
          "run": "echo \"::set-output name=value::$(date -u \"+%Y-%m\")\"",
          "shell": "bash"
        },
        {
          "name": "Cache Roswell Setup",
          "id": "cache",
          "uses": "actions/cache@v2",
          "with": {
            "path": "qlfile\nqlfile.lock\n~/.cache/common-lisp/\n~/.roswell\n/usr/local/etc/roswell\n/usr/local/bin/ros\n/usr/local/Cellar/roswell\n.qlot",
            "key": "a-${{ steps.current-month.outputs.value }}-${{ env.cache-name }}-ubuntu-latest-quicklisp-sbcl-bin/2.1.2-${{ hashFiles('qlfile.lock', '*.asd') }}"
          }
        },
        {
          "name": "Restore Path To Cached Files",
          "run": "echo $HOME/.roswell/bin >> $GITHUB_PATH\n                 echo .qlot/bin >> $GITHUB_PATH",
          "shell": "bash",
          "if": "steps.cache.outputs.cache-hit == 'true'"
        },
        {
          "name": "Setup Common Lisp Environment",
          "uses": "40ants/setup-lisp@v2",
          "with": {
            "asdf-system": "ultralisp"
          },
          "if": "steps.cache.outputs.cache-hit != 'true'"
        },
        {
          "name": "Change dist to Ultralisp",
          "run": "echo 'dist ultralisp http://dist.ultralisp.org' > qlfile",
          "shell": "bash"
        },
        {
          "name": "Update Qlot",
          "run": "qlot update || qlot update",
          "shell": "bash"
        },
        {
          "name": "Install SBLint wrapper",
          "run": "qlot exec ros install 40ants-linter",
          "shell": "bash"
        },
        {
          "name": "Run Linter",
          "run": "qlot exec 40ants-linter --system \"ultralisp\"",
          "shell": "bash"
        }
      ]
    },
    "run-tests": {
      "services": {
        "postgres": {
          "image": "postgres:10",
          "env": {
            "POSTGRES_USER": "ultralisp",
            "POSTGRES_PASSWORD": "ultralisp"
          },
          "options": "--health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5",
          "ports": [
            "5432:5432"
          ]
        }
      },
      "runs-on": "ubuntu-latest",
      "env": {
        "OS": "ubuntu-latest",
        "QUICKLISP_DIST": "quicklisp",
        "LISP": "sbcl-bin/2.1.2"
      },
      "steps": [
        {
          "name": "Install libev",
          "run": "sudo apt-get install libev4",
          "shell": "bash"
        },
        {
          "name": "Checkout Code",
          "uses": "actions/checkout@v2"
        },
        {
          "name": "Grant All Perms to Make Cache Restoring Possible",
          "run": "sudo mkdir -p /usr/local/etc/roswell\n                 sudo chown \"${USER}\" /usr/local/etc/roswell\n                 # Here the ros binary will be restored:\n                 sudo chown \"${USER}\" /usr/local/bin",
          "shell": "bash"
        },
        {
          "name": "Get Current Month",
          "id": "current-month",
          "run": "echo \"::set-output name=value::$(date -u \"+%Y-%m\")\"",
          "shell": "bash"
        },
        {
          "name": "Cache Roswell Setup",
          "id": "cache",
          "uses": "actions/cache@v2",
          "with": {
            "path": "qlfile\nqlfile.lock\n~/.cache/common-lisp/\n~/.roswell\n/usr/local/etc/roswell\n/usr/local/bin/ros\n/usr/local/Cellar/roswell\n.qlot",
            "key": "a-${{ steps.current-month.outputs.value }}-${{ env.cache-name }}-ubuntu-latest-quicklisp-sbcl-bin/2.1.2-${{ hashFiles('qlfile.lock', '*.asd') }}"
          }
        },
        {
          "name": "Restore Path To Cached Files",
          "run": "echo $HOME/.roswell/bin >> $GITHUB_PATH\n                 echo .qlot/bin >> $GITHUB_PATH",
          "shell": "bash",
          "if": "steps.cache.outputs.cache-hit == 'true'"
        },
        {
          "name": "Setup Common Lisp Environment",
          "uses": "40ants/setup-lisp@v2",
          "with": {
            "asdf-system": "ultralisp"
          },
          "if": "steps.cache.outputs.cache-hit != 'true'"
        },
        {
          "name": "Run Tests",
          "uses": "40ants/run-tests@v2",
          "with": {
            "asdf-system": "ultralisp",
            "coveralls-token": "${{ secrets.github_token }}"
          }
        }
      ]
    }
  }
}